<div class="con">
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Sign in</h1>
			
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email" />
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password" />            
       
            <button (click)="signIn()">Sign In</button>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1></h1>
              <p></p>
              <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Welcome Back!</h1>
              <p>To keep connected with us please login with your personal info</p>
              <button class="ghost" id="signUp" routerLink="/register">Sign Up</button>
            </div>
          </div>
        </div>        
	</div>
</div>

