<app-navbar></app-navbar>

  <div class="row mt-4">
    <!-- First Division: Sensors -->
   
    <div class="col-lg-3 sensors-container" style="margin-left: 1%;">
      <div class="row mt-1">
        <div class="col-lg-2">
          <div class="d-flex align-items-center">
            <h5>Sensors</h5>
            <span class="ml-1" style="margin-left: 70px;"><b>AddSensor</b></span>
            <button type="button" class="btn btn-primary btn-sm ml-2" style="margin-left: 5px;" routerLink="/addsensor" >
              <i class="fas fa-plus"></i>
            </button>
           
          </div>
        </div>
      </div>
          
      <hr>
<!--       Here we have to select the temperature sensor -->
      <div class="card sensor-card" (click)="startTemperatureSensor()" (click)="selectSensor('TEMPERATURE')"
        [class.selected]="selectedSensorType === 'TEMPERATURE'">
        <div class="card-header">
          <i class="fa fa-thermometer sensor-icon"></i>
          Temperature Sensor Data
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestTemperatureReading?.sensor_name }}: {{ latestTemperatureReading?.reading_value
            }}</p>
          <p class="card-subtitle text">{{ latestTemperatureReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
<!--       Here we have to select the cooling sensor -->
      <div class="card sensor-card" (click)="startCoolingSensor()" (click)="selectSensor('COOLING')"
        [class.selected]="selectedSensorType === 'COOLING'">
        <div class="card-header">
          <i class="fa fa-snowflake sensor-icon"></i>
          Cooling Sensor Data
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestCoolingReading?.sensor_name }}: {{ latestCoolingReading?.reading_value }}</p>
          <p class="card-subtitle text">{{ latestCoolingReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
<!--       Here we have to select the voltage sensor -->
      <div class="card sensor-card" (click)="startVoltageSensor()" (click)="selectSensor('VOLTAGE')"
        [class.selected]="selectedSensorType === 'VOLTAGE'">
        <div class="card-header">
          <i class="fa fa-bolt sensor-icon"></i>
          Voltage Sensor Data
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestVoltageReading?.sensor_name }}: {{ latestVoltageReading?.reading_value }}</p>
          <p class="card-subtitle text">{{ latestVoltageReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
<!--       Here we have to select the bandwidth sensor -->
      <div class="card sensor-card" (click)="startBandwidthSensor()" (click)="selectSensor('BANDWIDTH')"
        [class.selected]="selectedSensorType === 'BANDWIDTH'">
        <div class="card-header">
          <i class="fa fa-wifi sensor-icon"></i>
          Bandwidth Sensor Data
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestBandwidthReading?.sensor_name }}: {{ latestBandwidthReading?.reading_value }}
          </p>
          <p class="card-subtitle text">{{ latestBandwidthReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
<!--       Here we have to select the traffic sensor -->
      <div class="card sensor-card" (click)="startTrafficSensor()" (click)="selectSensor('TRAFFIC')"
        [class.selected]="selectedSensorType === 'TRAFFIC'">
        <div class="card-header">
          <!-- <i class="fa fa-car sensor-icon"></i> -->
          <i class="fa fa-users" aria-hidden="true"></i>
          Traffic Sensor Data
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestTrafficReading?.sensor_name }}: {{ latestTrafficReading?.reading_value }}</p>
          <p class="card-subtitle text">{{ latestTrafficReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
      <!--       Here we have to select the bandwidth sensor -->
      <div *ngFor="let sensor of allSensors; let i = index">
      <div class="card sensor-card" (click)="startBandwidthSensor()" (click)="selectSensor('BANDWIDTH')"
        [class.selected]="selectedSensorType === 'BANDWIDTH'">
        <div class="card-header">
          <i class="fa fa-wifi sensor-icon"></i>
          {{sensor.virtualSensorName}}
        </div>
        <div class="card-body">
          <p class="card-text">{{ latestBandwidthReading?.sensor_name }}: {{ latestBandwidthReading?.reading_value }}
          </p>
          <p class="card-subtitle text">{{ latestBandwidthReading?.reading_timestamp | date:'short' }}</p>
        </div>
      </div>
    </div>
    </div>

    <!-- Second Division: Chart and Selected Sensor Stats -->

    <div class="col-lg-6">
      <div class="chart-container" style="overflow-y: auto;">
        <div *ngIf="selectedSensorType">
          <app-chart [sensorName]="selectedSensorType"></app-chart>
        </div>
<!-- Stop Button -->
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-end">
            <button (click)="stopReading()" class="btn btn-danger">Stop Sensor</button>
          </div>
        </div>

        <div class="selected-stats-container">
          <!-- Display selected sensor stats here -->
          <div class="card selected-sensor-card" *ngIf="selectedSensorStats">
            <div class="card-body d-flex align-items-center">
              <div class="selected-sensor-reading-value">
                <h4 class="mb-0">{{ selectedSensorStats?.reading_value | number:'1.2-2' }}</h4>
              </div>
              <div class="ml-auto text-right" style="margin-left: 300px;">
                <h5 style="margin-bottom: 0;">{{ selectedSensorStats?.sensor_name }}</h5>
                <p class="card-subtitle text-muted" style="margin-bottom: 0; ">{{ selectedSensorStats?.reading_timestamp
                  | date:'short' }}</p>
              </div>
            </div>
          </div>
          <div class="card selected-sensor-card no-data-card" *ngIf="!selectedSensorStats">
            <div class="card-body">
              <p class="card-text">No data available</p>
            </div>
          </div>
        </div>


      </div>
    </div>



    <!-- Third Division: Notifications -->
    <div class="col-lg notifications-container" style="margin-right: 1%;">
    <app-notification
    [latestTemperatureReading]="latestTemperatureReading"
    [latestCoolingReading]="latestCoolingReading"
    [latestVoltageReading]="latestVoltageReading"
    [latestBandwidthReading]="latestBandwidthReading"
    [latestTrafficReading]="latestTrafficReading"
  ></app-notification>
  </div>
</div>
